@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    color: rgb(66, 65, 65);
}

header {
    border: 2px solid gray;
    padding: 20 20;
}

h1 {
    text-align: center;
}

h3 {
    text-decoration: underline;
}