@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    color: #4a4a4f;
    letter-spacing: 2px;
   line-height: 1.4;
   font-weight: bold;
}

header {
    margin-left: 20px;
    margin-right: 20px;
}

header > img {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border:1px solid black;
    float: left;
    
 }

h1 {
    text-align: center;
    position: relative;
}

nav {
    float: right;
    margin-right: 20px;
    color:  #4a4a4f;  
}

nav a {
    background-color: #b4b8b4 ;
    color:#ffffff;
    text-decoration: none;
}

nav a:hover {
    background-color: #b8f5c3;
}

/*about*/

h2 {
    text-decoration: underline;
    
}

p {
    margin-left: 20px;
}

section img {
    max-width:  200px;
    height: auto;
    border: 4px solid white;
    
}

#about-div {
    height: 300px;
    width: auto;
    padding: 5px;
    vertical-align: top;
    display: inline-block;
    
}

.about{
    text-align: center;
    background-color: #b8f5c3;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    overflow-y:auto;
    border: 1.5px solid gray;
}

/*treatments*/

.treatments {
    border: 1.5px solid gray;
    margin-left: 20px;
    margin-right: 20px;
    height: 300px;
    width: auto;
    text-align: center;
    }

.text-treatment  {
    font-weight: 900;
    padding-bottom: 10px;
     padding-top: 20px;
     margin-bottom: 20px;
     color: black;
     
    
}

.text-transfor-background {
    background-color: white;
    opacity: 0.70;
}

section ul li{
    list-style: none;
}


.treatment-style {
    border: 2px solid gray;
    margin:0 20px 20px;
    display: inline-block;
    background-image: url(./images/camille-brodard-ck5lgZfvrt8-unsplash.jpg);
    background-color: #b8f5c3;
    background-repeat: no-repeat;
    background-size: 100% auto; 
    

}
/*opening hours, address and image*/

.info_display {
    vertical-align: top;
    display: inline-block;
    width: 30%;
    height: auto;
    padding-left: 25px;
    font-size: small;
}

h2 .info_display {
    font-size: small;
}

div picture img{
    max-width: 300px;
    height: auto;
}



span {
    vertical-align: top;
    display: inline-block;
    width: 30%;
    padding-left: 25px;
}

/*contact us*/

form{
    vertical-align: top;
    width: fit-content;
}

form div{
    margin-bottom: 10px;
}

.insurance {

    vertical-align: top;
    display: inline-block;
    padding-left: 100px;
    margin-bottom: 100px;

}

.insurance-box {
    border: 2px solid gray ;
    width: 500px;
    height: fit-content;
    margin-left: 5px;
}

.insurance p{
    text-align: center;
}

.logos {
    text-align: center;
    margin-left: 10px;
    width: 100%;
    margin-bottom: 10px;
}



div a {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    
}

div a:hover {
    background-color: #b8f5c3;
}

/*footer*/

footer {
    height: 80px;
    width: 100%;
   font-size: small;
   background-color: #b4b8b4;
    color: #ffffff;
    vertical-align: bottom;
    padding-top: 50px;
    text-align: center;
}

footer p {
    text-align: justify;
    vertical-align: bottom;
    float: left;
    clear: left; 
}

footer a {
    margin:5px;
    padding: 1%;
    float: right;
    color: #ffffff;
    text-align: justify;
    font-size: smaller;
}

/*media queries*/
/*for larger screens 1200px and down*/

@media screen and (max-width: 1200px) {
    .info_display{
        width: 80%;
        height: auto;
        margin: 0 auto;
        text-align: center;
        padding: 0 0 ;
    
    }
    table{
        width: 80%;
        height: auto;
        margin: 0 auto;
        text-align: center;
    }

    .treatments{
        width: 80%;
        height: auto;
        margin: 0 auto;
        text-align: center;
    }

   
}

/*for medium screens from 950px and down*/

@media screen and (max-width: 950px) {
    .treatment-style{
        width: 90%;
        height: 1200px;
        background-size: 1200px;
        overflow-y: auto;
    }
    
    span {
        vertical-align: top;
        display: block;
        width: 100%;
        padding-left: 0;
        padding-bottom: 0;
        margin-bottom: 0;
    }
    .treatment-style p {
        font-size: smaller;
        line-height: 1.3;
        margin: 0 0;
    }
.about{
    line-height: 1.3;
}

form {
    width: 65%;
    height: auto;
    margin: 0;
    padding: 0;
}

form fieldset {
    width: 100%;

}
form fieldset textarea {
    max-width: 60%;
}
.insurance {
    display: block;
    padding-left: 0;
    margin-bottom: 10px;
    width: 100%;
    }

.insurance-box{
    width: 70%;
    height: auto;
}

.logos {
    text-align: center;
    margin-left: 0 ;
    width: auto;
    margin-bottom: 10px;
}

footer {
    width: 100%;
    float: none;
    text-align: center;
}
footer p {
    text-align: center;
    float: none;
}

footer a {
    float:none;
    text-align: center;

}
}
