@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    color: rgb(66, 65, 65);
    letter-spacing: 2px;
}

header {
    border: 2px solid gray;
    padding: 20px 20px;
    height: 115px;
}

header > img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border:1px solid black;
    float: left;
    
}

h1 {
    text-align: center;
}

h2 {
    text-decoration: underline;
}

p {
    text-align: center;
   
}